In [1]:
import pandas as pd

In [2]:
from app.service.coffee_service import get_hist

In [60]:
data = get_hist()
df = pd.DataFrame()

In [61]:
df["DateTime"] = pd.to_datetime(data["dates"])
df["Type of Coffee"] = data["coffee_types"]
df.head()

             DateTime   Type of Coffee
0 2022-02-03 09:58:08         espresso
1 2022-02-03 10:00:52         espresso
2 2022-02-03 10:02:34  double_espresso
3 2022-02-03 10:12:36  double_espresso
4 2022-02-03 10:44:19  double_espresso

In [62]:
#Split into Espresso and Double Espresso
espressi = df[df["Type of Coffee"]=="espresso"]
d_espressi = df[df["Type of Coffee"]=="double_espresso"]
#Count Coffee per day
espressi = espressi.groupby(by=espressi['DateTime'].dt.date).count()
d_espressi = d_espressi.groupby(by=d_espressi['DateTime'].dt.date).count()

#Rename Columns
espressi.rename(columns={'Type of Coffee':'# of espressi'}, inplace=True)
d_espressi.rename(columns={'Type of Coffee':'# of double espressi'}, inplace=True)

In [63]:
d_espressi

            DateTime  # of double espressi
DateTime
2022-02-03         3                     3